@font-face 
{
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2')
      format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;

}

body
{
    font-family: 'Phantom Sans';
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/background.jpg'); 
    background-size: cover;
    background-blend-mode: overlay;

}

img
{
    height: 150px;
}

div
{
    padding: 15px;
}

p
{
    color: white;
    margin-top: 20px;
    font-size: 20px;
}

h1
{
    color: white;
    font-size: 50px;
}

#bread
{
    display: inline;
    padding: 15px;
}

